<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dating Website</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!--NAV-->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">My Dating Website</a>
    </li>
</ul>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm text-center"><h1>My Dating Website</h1></div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <p>
                        Welcome to the web's most successful dating website.
                        At <strong>My Dating Website</strong> you'll meet another like minded individuals.
                        We have the highest success rate of couples on the web. User's are matched by interest and location.
                        Find out why so many others have found love on our site!
                    </p>
                </div>
            </div>


                <div class="row">
                    <div class="col-sm border-bottom text-center">
                        <h4>Hear what our users are saying about us.</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <p class="quote"><i>"I met the love of my life after only a month!" - Andrea</i></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <p class="quote"><i>"It was so easy to set up and profile and start meeting people.
                            I didn't realize how many others were looking for love in my area" - John Smith</i></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm border-bottom">
                        <p class="quote"><i>"Just try it! You'll never be the same!" - Sarah</i></p>
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-sm text-center">
                    <button type="button" class="btn btn-lg btn-primary">Create a Profile!</button>
                </div>
            </div>

        </div> <!--Close Wrapper-->


<!--IMAGE-->
            <div class="col-sm">
                <img src="images/splash.png" class="rounded" alt="People Riding bicycles">
            </div>
        </div>
    </div>



    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>